<div class="wrapper">
    <div class="section">
        <div class="container">
            <div id="contentAreas" class="cd-section">
                <h3 class="title">Shopping Cart</h3>
                <!--                 tables -->
                <div id="tables">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-shopping">
                                            <thead class="">
                                            <tr><th class="text-center">
                                                </th>
                                                <th>
                                                    Product
                                                </th>
                                                <th></th>
                                                <th></th>
                                                <th class="text-right">
                                                    Price
                                                </th>
                                                <th class="text-right">
                                                    Qty
                                                </th>
                                                <th class="text-right">
                                                    Amount
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="img-container">
                                                        <img src="/public/assets/img/saint-laurent.jpg" alt="...">
                                                    </div>
                                                </td>
                                                <td class="td-name">
                                                    <a href="#jacket">Suede Biker Jacket</a>
                                                    <br>
                                                    <small>by Saint Laurent</small>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td class="td-number">
                                                    <small>€</small>3,390
                                                </td>
                                                <td class="td-number">
                                                    1
                                                    <div class="btn-group">
                                                        <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                                        <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-add"></i> </button>
                                                    </div>
                                                </td>
                                                <td class="td-number">
                                                    <small>€</small>549
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                </td>
                                                <td class="td-total">
                                                    Total
                                                </td>
                                                <td class="td-price">
                                                    <small>€</small>2,346
                                                </td>
                                                <td colspan="3" class="text-right">
                                                    <button type="button" rel="tooltip" class="btn btn-info btn-round " data-original-title="" title="">
                                                        Complete Purchase
                                                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                 end tables -->
            </div>
        </div>
    </div>
</div>