<div class="wrapper">
    <div class="section">
        <div class="container">
            <div id="contentAreas" class="cd-section">
                <h3 class="title">My orders</h3>
                <!--                 tables -->
                <div id="tables">
                    <div class="row">
                        <!-- Table orders -->
                        <div class="col-md-12">
                            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" style="cursor: pointer;" role="tablist" status="-1">
                                        All
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" style="cursor: pointer;" role="tablist"  status="0">
                                        Awaiting confirm
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" style="cursor: pointer;" role="tablist"  status="1">
                                        Preparing
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" style="cursor: pointer;" role="tablist"  status="2">
                                        Shipping
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" style="cursor: pointer;" role="tablist"  status="3">
                                        Arrived
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" style="cursor: pointer;" role="tablist"  status="4">
                                        Canceled
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tab-space">
                                <div class="card card-plain mb-0">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="">
                                                    <tr>
                                                        <th>
                                                            Order Number
                                                        </th>
                                                        <th>
                                                            Status
                                                        </th>
                                                        <th class="text-right">
                                                            Order Date
                                                        </th>
                                                        <th class="text-right">
                                                            Total
                                                        </th>
                                                        <th class="text-center">
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="show-order"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="pagination" class="pull-right"></div>
                            </div>
                        </div>
                        <!-- End table orders -->
                    </div>
                </div>
                <!--                 end tables -->
            </div>
        </div>
    </div>
</div>

<!-- notice modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h5 class="modal-title" id="myModalLabel">Order details</h5>
            </div>
            <div class="modal-body" id="body-modal">

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end notice modal -->

<%- contentFor('js') %>
<script src="http://pagination.js.org/dist/2.6.0/pagination.min.js"></script>
<script src="/public/assets/js/custom/order_pagination.js"></script>