<div class="wrapper">
    <div class="section-space"></div>
    <div class="main">
        <div class="section">
            <div class="container">
                <h2 class="section-title">Find what you need</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="collapse-panel">
                            <div class="card-body">
                                <div class="card card-refine card-plain" style="overflow-y: unset">
                                    <h4 class="card-title">
                                        Filter
                                        <button class="btn btn-default btn-icon btn-neutral pull-right btn-reset" rel="tooltip"
                                                title="Reset Filter">
                                            <i class="arrows-1_refresh-69 now-ui-icons"></i>
                                        </button>
                                    </h4>
                                </div>
                                <div class="card card-refine card-plain ">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Category
                                                <i class="now-ui-icons arrows-1_minimal-down"></i>
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="card-body">
                                            <% category.forEach(ele => { %>
                                            <div class="checkbox category-checkbox">
                                                <input id="<%= ele._id %>" type="checkbox">
                                                <label>
                                                    <%= ele.name %>
                                                </label>
                                            </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row" id="show-products">
<!--                            <div class="col-md-3 ml-auto mr-auto">-->
<!--                                <button rel="tooltip" class="btn btn-primary btn-round">Load more...</button>-->
<!--                            </div>-->
                        </div>
                        <div class="row">
                            <div id="pagination" class="ml-auto mr-0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section -->
        <div class="container">
            <h2 class="section-title">Book Events</h2>
        </div>
        <div class="projects-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 px-0">
                        <div class="card card-fashion card-background"
                             style="background-image: url('/public/assets/img/bg-2.jpg')">
                            <div class="card-body">
                                <div class="card-title text-left">
                                    <h2>
                                        <a href="#pablo">
                                            High School: A great Book Week!
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-footer text-left">
                                    <div class="stats">
                                            <span>
                                                <i class="now-ui-icons users_circle-08"></i>AAA High School
                                            </span>
                                        <span>
                                                <i class="now-ui-icons tech_watch-time"></i> July 30, 2023
                                            </span>
                                    </div>
                                    <div class="stats-link pull-right">
                                        <a href="#pablo" class="footer-link">Book Week</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <div class="card-container">
                            <div class="card card-fashion">
                                <div class="card-title">
                                    <a href="#pablo">
                                    </a>
                                    <h4>
                                        <a href="#pablo">
                                        </a>
                                        <a href="#pablo">
                                            “It is important to remind people of the importance and benefits of reading”
                                        </a>
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <div class="card-footer text-left">
                                        <div class="stats">
                                                <span>
                                                    <i class="now-ui-icons users_circle-08"></i>The school librarian
                                                </span>
                                            <span>
                                                    <i class="now-ui-icons tech_watch-time"></i> June 10, 2023
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-fashion card-background"
                                 style="background-image: url('/public/assets/img/bg-3.jpg')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('js') %>
<script src="http://pagination.js.org/dist/2.6.0/pagination.min.js"></script>
<script src="/public/assets/js/custom/product_pagination.js"></script>