</body>
<!--   Core JS Files  -->
<script src="../public/admin/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="../public/admin/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../public/admin/assets/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>


<!--  Forms Validations Plugin -->
<script src="../public/admin/assets/js/jquery.validate.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="../public/admin/assets/js/moment.min.js"></script>

<!--  Date Time Picker Plugin is included in this js file -->
<script src="../public/admin/assets/js/bootstrap-datetimepicker.min.js"></script>

<!--  Select Picker Plugin -->
<script src="../public/admin/assets/js/bootstrap-selectpicker.js"></script>

<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
<script src="../public/admin/assets/js/bootstrap-switch-tags.min.js"></script>

<!--  Charts Plugin -->
<script src="../public/admin/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="../public/admin/assets/js/bootstrap-notify.js"></script>

<!-- Sweet Alert 2 plugin -->
<script src="../public/admin/assets/js/sweetalert2.js"></script>

<!-- Vector Map plugin -->
<script src="../public/admin/assets/js/jquery-jvectormap.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Wizard Plugin    -->
<script src="../public/admin/assets/js/jquery.bootstrap.wizard.min.js"></script>

<!--  Bootstrap Table Plugin    -->
<script src="../public/admin/assets/js/bootstrap-table.js"></script>

<!--  Plugin for DataTables.net  -->
<script src="../public/admin/assets/js/jquery.datatables.js"></script>


<!--  Full Calendar Plugin    -->
<script src="../public/admin/assets/js/fullcalendar.min.js"></script>

<!-- Light Bootstrap Dashboard Core javascript and methods -->
<script src="../public/admin/assets/js/light-bootstrap-dashboard.js?v=1.4.1"></script>

<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="../public/admin/assets/js/demo.js"></script>

<script type="text/javascript">
    $().ready(function(){

        var $validator = $("#wizardForm").validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                    minlength: 5
                },
                first_name: {
                    required: false,
                    minlength: 5
                },
                last_name: {
                    required: false,
                    minlength: 5
                },
                website: {
                    required: true,
                    minlength: 5,
                    url: true
                },
                framework: {
                    required: false,
                    minlength: 4
                },
                cities: {
                    required: true
                },
                price:{
                    number: true
                }
            }
        });



        // you can also use the nav-pills-[blue | azure | green | orange | red] for a different color of wizard

        $('#wizardCard').bootstrapWizard({
            tabClass: 'nav nav-pills',
            nextSelector: '.btn-next',
            previousSelector: '.btn-back',
            onNext: function(tab, navigation, index) {
                var $valid = $('#wizardForm').valid();

                if(!$valid) {
                    $validator.focusInvalid();
                    return false;
                }
            },
            onInit : function(tab, navigation, index){

                //check number of tabs and fill the entire row
                var $total = navigation.find('li').length;
                $width = 100/$total;

                $display_width = $(document).width();

                if($display_width < 600 && $total > 3){
                    $width = 50;
                }

                navigation.find('li').css('width',$width + '%');
            },
            onTabClick : function(tab, navigation, index){
                // Disable the posibility to click on tabs
                return false;
            },
            onTabShow: function(tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index+1;

                var wizard = navigation.closest('.card-wizard');

                // If it's the last tab then hide the last button and show the finish instead
                if($current >= $total) {
                    $(wizard).find('.btn-next').hide();
                    $(wizard).find('.btn-finish').show();
                } else if($current == 1){
                    $(wizard).find('.btn-back').hide();
                } else {
                    $(wizard).find('.btn-back').show();
                    $(wizard).find('.btn-next').show();
                    $(wizard).find('.btn-finish').hide();
                }
            }

        });

    });

    function onFinishWizard(){
        //here you can do something, sent the form to server via ajax and show a success message with swal

        swal("Good job!", "You clicked the finish button!", "success");
    }
</script>

